*{
	margin: 0;
}

header{
	min-width: 1220px;
	background-color: #d3b714;
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header{
	display: flex;
	justify-content: space-around; 
}
header img{
	padding-left: 20px;
	height: 60px;
}

header div{
	padding-right: 15px;
}

main{
	display: flex;
	justify-content: space-between;
}

#aside1 {
	padding-top: 10px;
	text-align: center;
	background-color: pink;
	min-width: 210px;
}

content {
	min-width: 800px;
	padding-top: 20px;
	text-align: center;
}
span, div {
	font-size: 14px;
}
div img {
	margin: 5px 0 5px 0;
	height: 100px;
}

span + h2{
	margin-top: 10px;
}

img + b{
	margin-bottom: 10px;
}

#aside2 {
	padding-top: 10px;
	text-align: center;
	background-color: lightblue;
	
	min-width: 210px;
}

footer {
	min-width: 1220px;
	padding-top: 10px;
	text-align: center;
	background-color: lightgreen;
	height: 50px;
}
section {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
section > div.card{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 300px;
	margin-bottom: 20px;
	width: 250px;
	background-color: white;
	border: 2px solid gray;
	border-radius: 25px; 
	padding-bottom: 15px;
}

div.card div{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

div a.Go{
	padding-top: 4px;
	width: 50px;
	height: 20px;
	text-decoration: none;
	border-radius: 20px;
	background-color: darkviolet;
	color: white;
}

div.holder {
	margin-top: 50px;
	height: 50px;
	width: 200px;
	display: flex;
	flex-wrap: wrap;
	border: 2px black solid;
	border-radius: 10px 10px 0 0;
}

div.item {
	padding-top: 4px;
	min-width: 60px;
}

div.item:first-child{
	min-width: 100px;
	order: 1;
	background-color: #fd644d;
	border-radius: 8px 0 0 0;
}

div.item:last-child{
	min-width: 100px;
	order: 2;
	background-color: orange;
	border-radius: 0 8px 0 0;
}

div.item:nth-child(2){
	order: 4;
	flex-grow: 1;
	background-color: #4983b2;
}

div.item:nth-child(4){
	order: 5;
	flex-grow: 1;
	background-color: green;
}

div.item:nth-child(3){
	order: 3;
	flex-grow: 1;
	background-color: darkviolet;
}